In [193]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import linear_model
from sklearn.preprocessing import StandardScaler

In [194]:
## importing the csv file

data = pd.read_csv('IMDB-Movie-Data.csv')


## cleaning null values

data = data[data['Revenue (Millions)'].notna()]
data = data[data['Metascore'].notna()]
data = data[data['Rating'].notna()]
data = data[data['Votes'].notna()]

## drop useless column

data.drop('Description', axis='columns', inplace=True)


## sampling the population

data_sample = data.sample(200)

data_sample.head()

,Rank,Title,Genre,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
856,857,Terminator Salvation,"Action,Adventure,Drama",McG,"Christian Bale, Sam Worthington, Anton Yelchin...",2009,115,6.6,297093,125.32,49.0
125,126,The Jungle Book,"Adventure,Drama,Family",Jon Favreau,"Neel Sethi, Bill Murray, Ben Kingsley, Idris Elba",2016,106,7.5,198243,364.00,77.0
373,374,Wanted,"Action,Crime,Fantasy",Timur Bekmambetov,"Angelina Jolie, James McAvoy, Morgan Freeman, ...",2008,110,6.7,312495,134.57,64.0
690,691,Resident Evil: Retribution,"Action,Horror,Sci-Fi",Paul W.S. Anderson,"Milla Jovovich, Sienna Guillory, Michelle Rodr...",2012,96,5.4,114144,42.35,39.0
748,749,Ouija: Origin of Evil,"Horror,Thriller",Mike Flanagan,"Elizabeth Reaser, Lulu Wilson, Annalise Basso,...",2016,99,6.1,30035,34.90,65.0

In [195]:
### transorming the rows Actors and Genre into colums

data_sample[['Actor_1', 'Actor_2', 'Actor_3', 'Actor_4']] = data_sample['Actors'].str.split(',', expand=True)

data_sample[['Genre_1', 'Genre_2', 'Genre_3', ]] = data_sample['Genre'].str.split(',', expand=True)

data_sample2 = data_sample[['Rank', 'Title', 'Genre_1', 'Genre_2', 'Genre_3', 'Actor_1', 'Actor_2', 'Actor_3', 'Actor_4', 'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)', 'Metascore' ]]

data_sample2.head()

,Rank,Title,Genre_1,Genre_2,Genre_3,Actor_1,Actor_2,Actor_3,Actor_4,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
856,857,Terminator Salvation,Action,Adventure,Drama,Christian Bale,Sam Worthington,Anton Yelchin,Moon Bloodgood,2009,115,6.6,297093,125.32,49.0
125,126,The Jungle Book,Adventure,Drama,Family,Neel Sethi,Bill Murray,Ben Kingsley,Idris Elba,2016,106,7.5,198243,364.00,77.0
373,374,Wanted,Action,Crime,Fantasy,Angelina Jolie,James McAvoy,Morgan Freeman,Terence Stamp,2008,110,6.7,312495,134.57,64.0
690,691,Resident Evil: Retribution,Action,Horror,Sci-Fi,Milla Jovovich,Sienna Guillory,Michelle Rodriguez,Aryana Engineer,2012,96,5.4,114144,42.35,39.0
748,749,Ouija: Origin of Evil,Horror,Thriller,None,Elizabeth Reaser,Lulu Wilson,Annalise Basso,Henry Thomas,2016,99,6.1,30035,34.90,65.0

In [196]:
## melting for actors for a better data

verticalized = pd.melt(data_sample2, id_vars = ['Rank', 'Title', 'Genre_1', 'Genre_2', 'Genre_3', 'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)', 'Metascore'])

verticalized.head()

,Rank,Title,Genre_1,Genre_2,Genre_3,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,variable,value
0,857,Terminator Salvation,Action,Adventure,Drama,2009,115,6.6,297093,125.32,49.0,Actor_1,Christian Bale
1,126,The Jungle Book,Adventure,Drama,Family,2016,106,7.5,198243,364.00,77.0,Actor_1,Neel Sethi
2,374,Wanted,Action,Crime,Fantasy,2008,110,6.7,312495,134.57,64.0,Actor_1,Angelina Jolie
3,691,Resident Evil: Retribution,Action,Horror,Sci-Fi,2012,96,5.4,114144,42.35,39.0,Actor_1,Milla Jovovich
4,749,Ouija: Origin of Evil,Horror,Thriller,None,2016,99,6.1,30035,34.90,65.0,Actor_1,Elizabeth Reaser

In [197]:
verticalized.drop('variable', axis='columns', inplace=True)

verticalized.rename(columns = {'value' : 'Actors'},  inplace=True)

verticalized.head()

,Rank,Title,Genre_1,Genre_2,Genre_3,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Actors
0,857,Terminator Salvation,Action,Adventure,Drama,2009,115,6.6,297093,125.32,49.0,Christian Bale
1,126,The Jungle Book,Adventure,Drama,Family,2016,106,7.5,198243,364.00,77.0,Neel Sethi
2,374,Wanted,Action,Crime,Fantasy,2008,110,6.7,312495,134.57,64.0,Angelina Jolie
3,691,Resident Evil: Retribution,Action,Horror,Sci-Fi,2012,96,5.4,114144,42.35,39.0,Milla Jovovich
4,749,Ouija: Origin of Evil,Horror,Thriller,None,2016,99,6.1,30035,34.90,65.0,Elizabeth Reaser

In [198]:
## melting for genres for a better data

verticalized2 = pd.melt(verticalized, id_vars = ['Rank', 'Title', 'Year', 'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)', 'Metascore', 'Actors'])

verticalized2.head()

,Rank,Title,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Actors,variable,value
0,857,Terminator Salvation,2009,115,6.6,297093,125.32,49.0,Christian Bale,Genre_1,Action
1,126,The Jungle Book,2016,106,7.5,198243,364.00,77.0,Neel Sethi,Genre_1,Adventure
2,374,Wanted,2008,110,6.7,312495,134.57,64.0,Angelina Jolie,Genre_1,Action
3,691,Resident Evil: Retribution,2012,96,5.4,114144,42.35,39.0,Milla Jovovich,Genre_1,Action
4,749,Ouija: Origin of Evil,2016,99,6.1,30035,34.90,65.0,Elizabeth Reaser,Genre_1,Horror

In [199]:
verticalized2.drop('variable', axis='columns', inplace=True)

verticalized2.rename(columns = {'value' : 'Genre'},  inplace=True)

verticalized2.head()

,Rank,Title,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Actors,Genre
0,857,Terminator Salvation,2009,115,6.6,297093,125.32,49.0,Christian Bale,Action
1,126,The Jungle Book,2016,106,7.5,198243,364.00,77.0,Neel Sethi,Adventure
2,374,Wanted,2008,110,6.7,312495,134.57,64.0,Angelina Jolie,Action
3,691,Resident Evil: Retribution,2012,96,5.4,114144,42.35,39.0,Milla Jovovich,Action
4,749,Ouija: Origin of Evil,2016,99,6.1,30035,34.90,65.0,Elizabeth Reaser,Horror

In [200]:
verticalized2 = verticalized2[verticalized2['Revenue (Millions)'].notna()]
verticalized2 = verticalized2[verticalized2['Metascore'].notna()]
verticalized2 = verticalized2[verticalized2['Rating'].notna()]
verticalized2 = verticalized2[verticalized2['Votes'].notna()]
verticalized2 = verticalized2[verticalized2['Actors'].notna()]
verticalized2 = verticalized2[verticalized2['Genre'].notna()]
verticalized2 = verticalized2[verticalized2['Runtime (Minutes)'].notna()]

In [201]:
#verticalized2.to_csv('IMBD_project.csv')

#Adventure = verticalized2[verticalized2['Genre'] == 'Adventure']['Revenue (Millions)']
#Adventure.mean()

verticalized2['Genre'].unique()

array(['Action', 'Adventure', 'Horror', 'Animation', 'Comedy', 'Mystery',
       'Drama', 'Sci-Fi', 'Biography', 'Crime', 'Thriller', 'Fantasy',
       'Family', 'Romance', 'War', 'Music', 'Sport', 'History'],
      dtype=object)

# MULTINLINEAR REGRESSION

In [202]:


## checking correlation in between clomuns

print('The correlation between Revenue (Millions) and Rating:', verticalized2['Revenue (Millions)'].corr(verticalized2['Rating']))
print('The correlation between Revenue (Millions) and Metascore:' , verticalized2['Revenue (Millions)'].corr(verticalized2['Metascore']))
print('The correlation between Revenue (Millions) and Number of Votes:', verticalized2['Revenue (Millions)'].corr(verticalized2['Votes']))
print('The correlation between Revenue (Millions) and Rank:' , verticalized2['Revenue (Millions)'].corr(verticalized2['Rank']))

The correlation between Revenue (Millions) and Rating: 0.31149160298357415
The correlation between Revenue (Millions) and Metascore: 0.3095077325626471
The correlation between Revenue (Millions) and Number of Votes: 0.68712142452722
The correlation between Revenue (Millions) and Rank: -0.2965994389821227

In [203]:
# Multilinear regression:
## I want to see how our data are correlated : the revenue based on rating, metascore and runtime


X = data_sample2[['Rating','Metascore', 'Runtime (Minutes)', 'Rank']]
y = data_sample2['Revenue (Millions)']

model = linear_model.LinearRegression()
result = model.fit(X,y)

R2 = result.score(X,y)

print('R^2 (not normalized) is:', R2)

R^2 (not normalized) is: 0.19638647048360125

In [204]:
# Multilinear regression:
# Let's Try to normalize the datas:




import sklearn
from sklearn.preprocessing import MinMaxScaler

normalizer = MinMaxScaler()
normalized = normalizer.fit_transform(data_sample2[['Rating','Metascore']])#'Runtime (Minutes)','Rank']])



X_normalized =pd.DataFrame(normalized, columns=['Rating','Metascore'])#'Runtime (Minutes)','Rank'])

In [205]:

model = linear_model.LinearRegression()
result = model.fit(X_normalized,y)
R2_normalized = result.score(X_normalized,y)

print('R^2 (normalized) is:', R2_normalized)

R^2 (normalized) is: 0.10945993085875727

# HYPOTESIS TESTING

In [206]:
##### I wanto to Test following Hypotesis:
##### H0: mu[genre](Revenue (Millions)) = mu[genre](Revenue (Millions))
##### H1: mu[genre](Revenue (Millions)) != mu[genre](Revenue (Millions))
##### sl = 0.05


## I define a function that can calculate stats and p_value and test my H0:

def hypothesis_1 (genre1, genre2, sl= 0.05):
    sl = sl
    for genre in verticalized2['Genre']:
        type1 = verticalized2[verticalized2['Genre'] == genre1]['Revenue (Millions)']
        type2 = verticalized2[verticalized2['Genre'] == genre2]['Revenue (Millions)']
    stat, p_value = st.ttest_ind(type1, type2,  equal_var=False)
    return p_value < sl

In [207]:
### I created a loop to make confront all possible combination

dic = {}

for x in verticalized2['Genre'].unique():
    for y in verticalized2['Genre'].unique():
        if x == y:
            continue
        else:
            key = x + ' with ' + y
            dic[key] = hypothesis_1(x,y)

In [253]:
##### H0: mu[genre](Rating)) = mu[genre](Rating)
##### H1: mu[genre](Rating) != mu[genre](Rating)
##### sl = 0.05


def hypothesis_2 (genre1, genre2, sl= 0.05):
    sl = sl
    for genre in verticalized2['Genre']:
        type1 = verticalized2[verticalized2['Genre'] == genre1]['Rating']
        type2 = verticalized2[verticalized2['Genre'] == genre2]['Rating']
    stat, p_value = st.ttest_ind(type1, type2,  equal_var=False)
    return p_value < sl

In [254]:
dic2 = {}

for x in verticalized2['Genre'].unique():
    for y in verticalized2['Genre'].unique():
        if x == y:
            continue
        else:
            key = x + ' with ' + y
            dic2[key] = hypothesis_2(x,y)

In [250]:
##### H0: mu[genre](Metascore)) = mu[genre](Metascore)
##### H1: mu[genre](Metascore) != mu[genre](Metascore)
##### sl = 0.05


def hypothesis_3 (genre1, genre2, sl= 0.05):
    sl = sl
    for genre in verticalized2['Genre']:
        type1 = verticalized2[verticalized2['Genre'] == genre1]['Metascore']
        type2 = verticalized2[verticalized2['Genre'] == genre2]['Metascore']
    stat, p_value = st.ttest_ind(type1, type2,  equal_var=False)
    return p_value < sl

In [251]:
dic3 = {}

for x in verticalized2['Genre'].unique():
    for y in verticalized2['Genre'].unique():
        if x == y:
            continue
        else:
            key = x + ' with ' + y
            dic3[key] = hypothesis_3(x,y)

In [210]:
dic

{'Action with Adventure': True,
 'Action with Horror': True,
 'Action with Animation': False,
 'Action with Comedy': True,
 'Action with Mystery': True,
 'Action with Drama': True,
 'Action with Sci-Fi': False,
 'Action with Biography': True,
 'Action with Crime': True,
 'Action with Thriller': True,
 'Action with Fantasy': False,
 'Action with Family': False,
 'Action with Romance': True,
 'Action with War': True,
 'Action with Music': True,
 'Action with Sport': True,
 'Action with History': True,
 'Adventure with Action': True,
 'Adventure with Horror': True,
 'Adventure with Animation': False,
 'Adventure with Comedy': True,
 'Adventure with Mystery': True,
 'Adventure with Drama': True,
 'Adventure with Sci-Fi': False,
 'Adventure with Biography': True,
 'Adventure with Crime': True,
 'Adventure with Thriller': True,
 'Adventure with Fantasy': False,
 'Adventure with Family': True,
 'Adventure with Romance': True,
 'Adventure with War': True,
 'Adventure with Music': True,
 'Adventure with Sport': True,
 'Adventure with History': True,
 'Horror with Action': True,
 'Horror with Adventure': True,
 'Horror with Animation': True,
 'Horror with Comedy': True,
 'Horror with Mystery': False,
 'Horror with Drama': False,
 'Horror with Sci-Fi': True,
 'Horror with Biography': False,
 'Horror with Crime': True,
 'Horror with Thriller': True,
 'Horror with Fantasy': True,
 'Horror with Family': True,
 'Horror with Romance': False,
 'Horror with War': False,
 'Horror with Music': False,
 'Horror with Sport': False,
 'Horror with History': False,
 'Animation with Action': False,
 'Animation with Adventure': False,
 'Animation with Horror': True,
 'Animation with Comedy': True,
 'Animation with Mystery': True,
 'Animation with Drama': True,
 'Animation with Sci-Fi': False,
 'Animation with Biography': True,
 'Animation with Crime': True,
 'Animation with Thriller': True,
 'Animation with Fantasy': False,
 'Animation with Family': False,
 'Animation with Romance': True,
 'Animation with War': True,
 'Animation with Music': True,
 'Animation with Sport': True,
 'Animation with History': True,
 'Comedy with Action': True,
 'Comedy with Adventure': True,
 'Comedy with Horror': True,
 'Comedy with Animation': True,
 'Comedy with Mystery': False,
 'Comedy with Drama': True,
 'Comedy with Sci-Fi': True,
 'Comedy with Biography': True,
 'Comedy with Crime': False,
 'Comedy with Thriller': False,
 'Comedy with Fantasy': True,
 'Comedy with Family': True,
 'Comedy with Romance': True,
 'Comedy with War': False,
 'Comedy with Music': False,
 'Comedy with Sport': True,
 'Comedy with History': True,
 'Mystery with Action': True,
 'Mystery with Adventure': True,
 'Mystery with Horror': False,
 'Mystery with Animation': True,
 'Mystery with Comedy': False,
 'Mystery with Drama': False,
 'Mystery with Sci-Fi': True,
 'Mystery with Biography': True,
 'Mystery with Crime': False,
 'Mystery with Thriller': False,
 'Mystery with Fantasy': True,
 'Mystery with Family': True,
 'Mystery with Romance': True,
 'Mystery with War': False,
 'Mystery with Music': False,
 'Mystery with Sport': True,
 'Mystery with History': True,
 'Drama with Action': True,
 'Drama with Adventure': True,
 'Drama with Horror': False,
 'Drama with Animation': True,
 'Drama with Comedy': True,
 'Drama with Mystery': False,
 'Drama with Sci-Fi': True,
 'Drama with Biography': False,
 'Drama with Crime': True,
 'Drama with Thriller': True,
 'Drama with Fantasy': True,
 'Drama with Family': True,
 'Drama with Romance': True,
 'Drama with War': False,
 'Drama with Music': False,
 'Drama with Sport': False,
 'Drama with History': True,
 'Sci-Fi with Action': False,
 'Sci-Fi with Adventure': False,
 'Sci-Fi with Horror': True,
 'Sci-Fi with Animation': False,
 'Sci-Fi with Comedy': True,
 'Sci-Fi with Mystery': True,
 'Sci-Fi with Drama': True,
 'Sci-Fi with Biography': True,
 'Sci-Fi with Crime': True,
 'Sci-Fi with Thriller': True,
 'Sci-Fi with Fantasy': False,
 'Sci-Fi with Family': False,
 'Sci-Fi with Romance': True,
 'Sci-Fi with War': True,
 'Sci-Fi with Music': True,
 'Sci-Fi with Sport': True,
 'Sci-Fi with History': True,
 'Biography with Action': True,
 'Biography with Adventure': True,
 'Biography with Horror': False,
 'Biography with Animation': True,
 'Biography with Comedy': True,
 'Biography with Mystery': True,
 'Biography with Drama': False,
 'Biography with Sci-Fi': True,
 'Biography with Crime': True,
 'Biography with Thriller': True,
 'Biography with Fantasy': True,
 'Biography with Family': True,
 'Biography with Romance': False,
 'Biography with War': False,
 'Biography with Music': False,
 'Biography with Sport': False,
 'Biography with History': True,
 'Crime with Action': True,
 'Crime with Adventure': True,
 'Crime with Horror': True,
 'Crime with Animation': True,
 'Crime with Comedy': False,
 'Crime with Mystery': False,
 'Crime with Drama': True,
 'Crime with Sci-Fi': True,
 'Crime with Biography': True,
 'Crime with Thriller': False,
 'Crime with Fantasy': True,
 'Crime with Family': True,
 'Crime with Romance': True,
 'Crime with War': True,
 'Crime with Music': False,
 'Crime with Sport': True,
 'Crime with History': True,
 'Thriller with Action': True,
 'Thriller with Adventure': True,
 'Thriller with Horror': True,
 'Thriller with Animation': True,
 'Thriller with Comedy': False,
 'Thriller with Mystery': False,
 'Thriller with Drama': True,
 'Thriller with Sci-Fi': True,
 'Thriller with Biography': True,
 'Thriller with Crime': False,
 'Thriller with Fantasy': True,
 'Thriller with Family': True,
 'Thriller with Romance': True,
 'Thriller with War': True,
 'Thriller with Music': False,
 'Thriller with Sport': True,
 'Thriller with History': True,
 'Fantasy with Action': False,
 'Fantasy with Adventure': False,
 'Fantasy with Horror': True,
 'Fantasy with Animation': False,
 'Fantasy with Comedy': True,
 'Fantasy with Mystery': True,
 'Fantasy with Drama': True,
 'Fantasy with Sci-Fi': False,
 'Fantasy with Biography': True,
 'Fantasy with Crime': True,
 'Fantasy with Thriller': True,
 'Fantasy with Family': False,
 'Fantasy with Romance': True,
 'Fantasy with War': True,
 'Fantasy with Music': True,
 'Fantasy with Sport': True,
 'Fantasy with History': True,
 'Family with Action': False,
 'Family with Adventure': True,
 'Family with Horror': True,
 'Family with Animation': False,
 'Family with Comedy': True,
 'Family with Mystery': True,
 'Family with Drama': True,
 'Family with Sci-Fi': False,
 'Family with Biography': True,
 'Family with Crime': True,
 'Family with Thriller': True,
 'Family with Fantasy': False,
 'Family with Romance': True,
 'Family with War': True,
 'Family with Music': True,
 'Family with Sport': True,
 'Family with History': True,
 'Romance with Action': True,
 'Romance with Adventure': True,
 'Romance with Horror': False,
 'Romance with Animation': True,
 'Romance with Comedy': True,
 'Romance with Mystery': True,
 'Romance with Drama': True,
 'Romance with Sci-Fi': True,
 'Romance with Biography': False,
 'Romance with Crime': True,
 'Romance with Thriller': True,
 'Romance with Fantasy': True,
 'Romance with Family': True,
 'Romance with War': False,
 'Romance with Music': False,
 'Romance with Sport': False,
 'Romance with History': False,
 'War with Action': True,
 'War with Adventure': True,
 'War with Horror': False,
 'War with Animation': True,
 'War with Comedy': False,
 'War with Mystery': False,
 'War with Drama': False,
 'War with Sci-Fi': True,
 'War with Biography': False,
 'War with Crime': True,
 'War with Thriller': True,
 'War with Fantasy': True,
 'War with Family': True,
 'War with Romance': False,
 'War with Music': False,
 'War with Sport': False,
 'War with History': False,
 'Music with Action': True,
 'Music with Adventure': True,
 'Music with Horror': False,
 'Music with Animation': True,
 'Music with Comedy': False,
 'Music with Mystery': False,
 'Music with Drama': False,
 'Music with Sci-Fi': True,
 'Music with Biography': False,
 'Music with Crime': False,
 'Music with Thriller': False,
 'Music with Fantasy': True,
 'Music with Family': True,
 'Music with Romance': False,
 'Music with War': False,
 'Music with Sport': False,
 'Music with History': False,
 'Sport with Action': True,
 'Sport with Adventure': True,
 'Sport with Horror': False,
 'Sport with Animation': True,
 'Sport with Comedy': True,
 'Sport with Mystery': True,
 'Sport with Drama': False,
 'Sport with Sci-Fi': True,
 'Sport with Biography': False,
 'Sport with Crime': True,
 'Sport with Thriller': True,
 'Sport with Fantasy': True,
 'Sport with Family': True,
 'Sport with Romance': False,
 'Sport with War': False,
 'Sport with Music': False,
 'Sport with History': False,
 'History with Action': True,
 'History with Adventure': True,
 'History with Horror': False,
 'History with Animation': True,
 'History with Comedy': True,
 'History with Mystery': True,
 'History with Drama': True,
 'History with Sci-Fi': True,
 'History with Biography': True,
 'History with Crime': True,
 'History with Thriller': True,
 'History with Fantasy': True,
 'History with Family': True,
 'History with Romance': False,
 'History with War': False,
 'History with Music': False,
 'History with Sport': False}

In [255]:
dic2

{'Action with Adventure': True,
 'Action with Horror': True,
 'Action with Animation': True,
 'Action with Comedy': False,
 'Action with Mystery': False,
 'Action with Drama': True,
 'Action with Sci-Fi': False,
 'Action with Biography': True,
 'Action with Crime': True,
 'Action with Thriller': False,
 'Action with Fantasy': False,
 'Action with Family': False,
 'Action with Romance': False,
 'Action with War': True,
 'Action with Music': False,
 'Action with Sport': True,
 'Action with History': True,
 'Adventure with Action': True,
 'Adventure with Horror': True,
 'Adventure with Animation': True,
 'Adventure with Comedy': True,
 'Adventure with Mystery': False,
 'Adventure with Drama': False,
 'Adventure with Sci-Fi': False,
 'Adventure with Biography': True,
 'Adventure with Crime': False,
 'Adventure with Thriller': False,
 'Adventure with Fantasy': False,
 'Adventure with Family': False,
 'Adventure with Romance': True,
 'Adventure with War': False,
 'Adventure with Music': False,
 'Adventure with Sport': False,
 'Adventure with History': True,
 'Horror with Action': True,
 'Horror with Adventure': True,
 'Horror with Animation': True,
 'Horror with Comedy': True,
 'Horror with Mystery': True,
 'Horror with Drama': True,
 'Horror with Sci-Fi': True,
 'Horror with Biography': True,
 'Horror with Crime': True,
 'Horror with Thriller': True,
 'Horror with Fantasy': True,
 'Horror with Family': True,
 'Horror with Romance': True,
 'Horror with War': True,
 'Horror with Music': True,
 'Horror with Sport': True,
 'Horror with History': True,
 'Animation with Action': True,
 'Animation with Adventure': True,
 'Animation with Horror': True,
 'Animation with Comedy': True,
 'Animation with Mystery': True,
 'Animation with Drama': True,
 'Animation with Sci-Fi': True,
 'Animation with Biography': True,
 'Animation with Crime': True,
 'Animation with Thriller': True,
 'Animation with Fantasy': True,
 'Animation with Family': True,
 'Animation with Romance': True,
 'Animation with War': False,
 'Animation with Music': True,
 'Animation with Sport': True,
 'Animation with History': False,
 'Comedy with Action': False,
 'Comedy with Adventure': True,
 'Comedy with Horror': True,
 'Comedy with Animation': True,
 'Comedy with Mystery': False,
 'Comedy with Drama': True,
 'Comedy with Sci-Fi': False,
 'Comedy with Biography': True,
 'Comedy with Crime': True,
 'Comedy with Thriller': False,
 'Comedy with Fantasy': False,
 'Comedy with Family': False,
 'Comedy with Romance': False,
 'Comedy with War': True,
 'Comedy with Music': False,
 'Comedy with Sport': True,
 'Comedy with History': True,
 'Mystery with Action': False,
 'Mystery with Adventure': False,
 'Mystery with Horror': True,
 'Mystery with Animation': True,
 'Mystery with Comedy': False,
 'Mystery with Drama': True,
 'Mystery with Sci-Fi': False,
 'Mystery with Biography': True,
 'Mystery with Crime': False,
 'Mystery with Thriller': False,
 'Mystery with Fantasy': False,
 'Mystery with Family': False,
 'Mystery with Romance': False,
 'Mystery with War': True,
 'Mystery with Music': False,
 'Mystery with Sport': True,
 'Mystery with History': True,
 'Drama with Action': True,
 'Drama with Adventure': False,
 'Drama with Horror': True,
 'Drama with Animation': True,
 'Drama with Comedy': True,
 'Drama with Mystery': True,
 'Drama with Sci-Fi': True,
 'Drama with Biography': True,
 'Drama with Crime': False,
 'Drama with Thriller': True,
 'Drama with Fantasy': False,
 'Drama with Family': False,
 'Drama with Romance': True,
 'Drama with War': False,
 'Drama with Music': False,
 'Drama with Sport': False,
 'Drama with History': True,
 'Sci-Fi with Action': False,
 'Sci-Fi with Adventure': False,
 'Sci-Fi with Horror': True,
 'Sci-Fi with Animation': True,
 'Sci-Fi with Comedy': False,
 'Sci-Fi with Mystery': False,
 'Sci-Fi with Drama': True,
 'Sci-Fi with Biography': True,
 'Sci-Fi with Crime': True,
 'Sci-Fi with Thriller': False,
 'Sci-Fi with Fantasy': False,
 'Sci-Fi with Family': False,
 'Sci-Fi with Romance': False,
 'Sci-Fi with War': True,
 'Sci-Fi with Music': False,
 'Sci-Fi with Sport': True,
 'Sci-Fi with History': True,
 'Biography with Action': True,
 'Biography with Adventure': True,
 'Biography with Horror': True,
 'Biography with Animation': True,
 'Biography with Comedy': True,
 'Biography with Mystery': True,
 'Biography with Drama': True,
 'Biography with Sci-Fi': True,
 'Biography with Crime': True,
 'Biography with Thriller': True,
 'Biography with Fantasy': True,
 'Biography with Family': True,
 'Biography with Romance': True,
 'Biography with War': False,
 'Biography with Music': False,
 'Biography with Sport': False,
 'Biography with History': False,
 'Crime with Action': True,
 'Crime with Adventure': False,
 'Crime with Horror': True,
 'Crime with Animation': True,
 'Crime with Comedy': True,
 'Crime with Mystery': False,
 'Crime with Drama': False,
 'Crime with Sci-Fi': True,
 'Crime with Biography': True,
 'Crime with Thriller': True,
 'Crime with Fantasy': False,
 'Crime with Family': False,
 'Crime with Romance': True,
 'Crime with War': False,
 'Crime with Music': False,
 'Crime with Sport': False,
 'Crime with History': True,
 'Thriller with Action': False,
 'Thriller with Adventure': False,
 'Thriller with Horror': True,
 'Thriller with Animation': True,
 'Thriller with Comedy': False,
 'Thriller with Mystery': False,
 'Thriller with Drama': True,
 'Thriller with Sci-Fi': False,
 'Thriller with Biography': True,
 'Thriller with Crime': True,
 'Thriller with Fantasy': False,
 'Thriller with Family': False,
 'Thriller with Romance': False,
 'Thriller with War': False,
 'Thriller with Music': False,
 'Thriller with Sport': True,
 'Thriller with History': True,
 'Fantasy with Action': False,
 'Fantasy with Adventure': False,
 'Fantasy with Horror': True,
 'Fantasy with Animation': True,
 'Fantasy with Comedy': False,
 'Fantasy with Mystery': False,
 'Fantasy with Drama': False,
 'Fantasy with Sci-Fi': False,
 'Fantasy with Biography': True,
 'Fantasy with Crime': False,
 'Fantasy with Thriller': False,
 'Fantasy with Family': False,
 'Fantasy with Romance': False,
 'Fantasy with War': True,
 'Fantasy with Music': False,
 'Fantasy with Sport': True,
 'Fantasy with History': True,
 'Family with Action': False,
 'Family with Adventure': False,
 'Family with Horror': True,
 'Family with Animation': True,
 'Family with Comedy': False,
 'Family with Mystery': False,
 'Family with Drama': False,
 'Family with Sci-Fi': False,
 'Family with Biography': True,
 'Family with Crime': False,
 'Family with Thriller': False,
 'Family with Fantasy': False,
 'Family with Romance': False,
 'Family with War': False,
 'Family with Music': False,
 'Family with Sport': False,
 'Family with History': True,
 'Romance with Action': False,
 'Romance with Adventure': True,
 'Romance with Horror': True,
 'Romance with Animation': True,
 'Romance with Comedy': False,
 'Romance with Mystery': False,
 'Romance with Drama': True,
 'Romance with Sci-Fi': False,
 'Romance with Biography': True,
 'Romance with Crime': True,
 'Romance with Thriller': False,
 'Romance with Fantasy': False,
 'Romance with Family': False,
 'Romance with War': True,
 'Romance with Music': False,
 'Romance with Sport': True,
 'Romance with History': True,
 'War with Action': True,
 'War with Adventure': False,
 'War with Horror': True,
 'War with Animation': False,
 'War with Comedy': True,
 'War with Mystery': True,
 'War with Drama': False,
 'War with Sci-Fi': True,
 'War with Biography': False,
 'War with Crime': False,
 'War with Thriller': False,
 'War with Fantasy': True,
 'War with Family': False,
 'War with Romance': True,
 'War with Music': False,
 'War with Sport': False,
 'War with History': False,
 'Music with Action': False,
 'Music with Adventure': False,
 'Music with Horror': True,
 'Music with Animation': True,
 'Music with Comedy': False,
 'Music with Mystery': False,
 'Music with Drama': False,
 'Music with Sci-Fi': False,
 'Music with Biography': False,
 'Music with Crime': False,
 'Music with Thriller': False,
 'Music with Fantasy': False,
 'Music with Family': False,
 'Music with Romance': False,
 'Music with War': False,
 'Music with Sport': False,
 'Music with History': False,
 'Sport with Action': True,
 'Sport with Adventure': False,
 'Sport with Horror': True,
 'Sport with Animation': True,
 'Sport with Comedy': True,
 'Sport with Mystery': True,
 'Sport with Drama': False,
 'Sport with Sci-Fi': True,
 'Sport with Biography': False,
 'Sport with Crime': False,
 'Sport with Thriller': True,
 'Sport with Fantasy': True,
 'Sport with Family': False,
 'Sport with Romance': True,
 'Sport with War': False,
 'Sport with Music': False,
 'Sport with History': False,
 'History with Action': True,
 'History with Adventure': True,
 'History with Horror': True,
 'History with Animation': False,
 'History with Comedy': True,
 'History with Mystery': True,
 'History with Drama': True,
 'History with Sci-Fi': True,
 'History with Biography': False,
 'History with Crime': True,
 'History with Thriller': True,
 'History with Fantasy': True,
 'History with Family': True,
 'History with Romance': True,
 'History with War': False,
 'History with Music': False,
 'History with Sport': False}

In [252]:
dic3

{'Action with Adventure': True,
 'Action with Horror': False,
 'Action with Animation': True,
 'Action with Comedy': False,
 'Action with Mystery': False,
 'Action with Drama': True,
 'Action with Sci-Fi': True,
 'Action with Biography': True,
 'Action with Crime': True,
 'Action with Thriller': True,
 'Action with Fantasy': True,
 'Action with Family': True,
 'Action with Romance': False,
 'Action with War': False,
 'Action with Music': True,
 'Action with Sport': False,
 'Action with History': True,
 'Adventure with Action': True,
 'Adventure with Horror': True,
 'Adventure with Animation': True,
 'Adventure with Comedy': True,
 'Adventure with Mystery': True,
 'Adventure with Drama': False,
 'Adventure with Sci-Fi': False,
 'Adventure with Biography': True,
 'Adventure with Crime': False,
 'Adventure with Thriller': False,
 'Adventure with Fantasy': False,
 'Adventure with Family': False,
 'Adventure with Romance': True,
 'Adventure with War': False,
 'Adventure with Music': True,
 'Adventure with Sport': False,
 'Adventure with History': True,
 'Horror with Action': False,
 'Horror with Adventure': True,
 'Horror with Animation': True,
 'Horror with Comedy': False,
 'Horror with Mystery': False,
 'Horror with Drama': True,
 'Horror with Sci-Fi': False,
 'Horror with Biography': True,
 'Horror with Crime': False,
 'Horror with Thriller': False,
 'Horror with Fantasy': False,
 'Horror with Family': True,
 'Horror with Romance': False,
 'Horror with War': False,
 'Horror with Music': True,
 'Horror with Sport': False,
 'Horror with History': True,
 'Animation with Action': True,
 'Animation with Adventure': True,
 'Animation with Horror': True,
 'Animation with Comedy': True,
 'Animation with Mystery': True,
 'Animation with Drama': True,
 'Animation with Sci-Fi': True,
 'Animation with Biography': True,
 'Animation with Crime': True,
 'Animation with Thriller': True,
 'Animation with Fantasy': True,
 'Animation with Family': True,
 'Animation with Romance': True,
 'Animation with War': True,
 'Animation with Music': True,
 'Animation with Sport': True,
 'Animation with History': True,
 'Comedy with Action': False,
 'Comedy with Adventure': True,
 'Comedy with Horror': False,
 'Comedy with Animation': True,
 'Comedy with Mystery': False,
 'Comedy with Drama': True,
 'Comedy with Sci-Fi': False,
 'Comedy with Biography': True,
 'Comedy with Crime': False,
 'Comedy with Thriller': False,
 'Comedy with Fantasy': False,
 'Comedy with Family': True,
 'Comedy with Romance': True,
 'Comedy with War': False,
 'Comedy with Music': True,
 'Comedy with Sport': False,
 'Comedy with History': True,
 'Mystery with Action': False,
 'Mystery with Adventure': True,
 'Mystery with Horror': False,
 'Mystery with Animation': True,
 'Mystery with Comedy': False,
 'Mystery with Drama': True,
 'Mystery with Sci-Fi': True,
 'Mystery with Biography': True,
 'Mystery with Crime': False,
 'Mystery with Thriller': False,
 'Mystery with Fantasy': False,
 'Mystery with Family': True,
 'Mystery with Romance': False,
 'Mystery with War': False,
 'Mystery with Music': True,
 'Mystery with Sport': False,
 'Mystery with History': True,
 'Drama with Action': True,
 'Drama with Adventure': False,
 'Drama with Horror': True,
 'Drama with Animation': True,
 'Drama with Comedy': True,
 'Drama with Mystery': True,
 'Drama with Sci-Fi': False,
 'Drama with Biography': True,
 'Drama with Crime': False,
 'Drama with Thriller': False,
 'Drama with Fantasy': False,
 'Drama with Family': False,
 'Drama with Romance': True,
 'Drama with War': False,
 'Drama with Music': True,
 'Drama with Sport': False,
 'Drama with History': True,
 'Sci-Fi with Action': True,
 'Sci-Fi with Adventure': False,
 'Sci-Fi with Horror': False,
 'Sci-Fi with Animation': True,
 'Sci-Fi with Comedy': False,
 'Sci-Fi with Mystery': True,
 'Sci-Fi with Drama': False,
 'Sci-Fi with Biography': True,
 'Sci-Fi with Crime': False,
 'Sci-Fi with Thriller': False,
 'Sci-Fi with Fantasy': False,
 'Sci-Fi with Family': False,
 'Sci-Fi with Romance': True,
 'Sci-Fi with War': False,
 'Sci-Fi with Music': True,
 'Sci-Fi with Sport': False,
 'Sci-Fi with History': True,
 'Biography with Action': True,
 'Biography with Adventure': True,
 'Biography with Horror': True,
 'Biography with Animation': True,
 'Biography with Comedy': True,
 'Biography with Mystery': True,
 'Biography with Drama': True,
 'Biography with Sci-Fi': True,
 'Biography with Crime': True,
 'Biography with Thriller': True,
 'Biography with Fantasy': True,
 'Biography with Family': False,
 'Biography with Romance': True,
 'Biography with War': True,
 'Biography with Music': True,
 'Biography with Sport': True,
 'Biography with History': False,
 'Crime with Action': True,
 'Crime with Adventure': False,
 'Crime with Horror': False,
 'Crime with Animation': True,
 'Crime with Comedy': False,
 'Crime with Mystery': False,
 'Crime with Drama': False,
 'Crime with Sci-Fi': False,
 'Crime with Biography': True,
 'Crime with Thriller': False,
 'Crime with Fantasy': False,
 'Crime with Family': False,
 'Crime with Romance': True,
 'Crime with War': False,
 'Crime with Music': True,
 'Crime with Sport': False,
 'Crime with History': True,
 'Thriller with Action': True,
 'Thriller with Adventure': False,
 'Thriller with Horror': False,
 'Thriller with Animation': True,
 'Thriller with Comedy': False,
 'Thriller with Mystery': False,
 'Thriller with Drama': False,
 'Thriller with Sci-Fi': False,
 'Thriller with Biography': True,
 'Thriller with Crime': False,
 'Thriller with Fantasy': False,
 'Thriller with Family': False,
 'Thriller with Romance': True,
 'Thriller with War': False,
 'Thriller with Music': True,
 'Thriller with Sport': False,
 'Thriller with History': True,
 'Fantasy with Action': True,
 'Fantasy with Adventure': False,
 'Fantasy with Horror': False,
 'Fantasy with Animation': True,
 'Fantasy with Comedy': False,
 'Fantasy with Mystery': False,
 'Fantasy with Drama': False,
 'Fantasy with Sci-Fi': False,
 'Fantasy with Biography': True,
 'Fantasy with Crime': False,
 'Fantasy with Thriller': False,
 'Fantasy with Family': False,
 'Fantasy with Romance': True,
 'Fantasy with War': False,
 'Fantasy with Music': True,
 'Fantasy with Sport': False,
 'Fantasy with History': True,
 'Family with Action': True,
 'Family with Adventure': False,
 'Family with Horror': True,
 'Family with Animation': True,
 'Family with Comedy': True,
 'Family with Mystery': True,
 'Family with Drama': False,
 'Family with Sci-Fi': False,
 'Family with Biography': False,
 'Family with Crime': False,
 'Family with Thriller': False,
 'Family with Fantasy': False,
 'Family with Romance': True,
 'Family with War': False,
 'Family with Music': True,
 'Family with Sport': False,
 'Family with History': False,
 'Romance with Action': False,
 'Romance with Adventure': True,
 'Romance with Horror': False,
 'Romance with Animation': True,
 'Romance with Comedy': True,
 'Romance with Mystery': False,
 'Romance with Drama': True,
 'Romance with Sci-Fi': True,
 'Romance with Biography': True,
 'Romance with Crime': True,
 'Romance with Thriller': True,
 'Romance with Fantasy': True,
 'Romance with Family': True,
 'Romance with War': False,
 'Romance with Music': True,
 'Romance with Sport': False,
 'Romance with History': True,
 'War with Action': False,
 'War with Adventure': False,
 'War with Horror': False,
 'War with Animation': True,
 'War with Comedy': False,
 'War with Mystery': False,
 'War with Drama': False,
 'War with Sci-Fi': False,
 'War with Biography': True,
 'War with Crime': False,
 'War with Thriller': False,
 'War with Fantasy': False,
 'War with Family': False,
 'War with Romance': False,
 'War with Music': True,
 'War with Sport': False,
 'War with History': True,
 'Music with Action': True,
 'Music with Adventure': True,
 'Music with Horror': True,
 'Music with Animation': True,
 'Music with Comedy': True,
 'Music with Mystery': True,
 'Music with Drama': True,
 'Music with Sci-Fi': True,
 'Music with Biography': True,
 'Music with Crime': True,
 'Music with Thriller': True,
 'Music with Fantasy': True,
 'Music with Family': True,
 'Music with Romance': True,
 'Music with War': True,
 'Music with Sport': True,
 'Music with History': True,
 'Sport with Action': False,
 'Sport with Adventure': False,
 'Sport with Horror': False,
 'Sport with Animation': True,
 'Sport with Comedy': False,
 'Sport with Mystery': False,
 'Sport with Drama': False,
 'Sport with Sci-Fi': False,
 'Sport with Biography': True,
 'Sport with Crime': False,
 'Sport with Thriller': False,
 'Sport with Fantasy': False,
 'Sport with Family': False,
 'Sport with Romance': False,
 'Sport with War': False,
 'Sport with Music': True,
 'Sport with History': True,
 'History with Action': True,
 'History with Adventure': True,
 'History with Horror': True,
 'History with Animation': True,
 'History with Comedy': True,
 'History with Mystery': True,
 'History with Drama': True,
 'History with Sci-Fi': True,
 'History with Biography': False,
 'History with Crime': True,
 'History with Thriller': True,
 'History with Fantasy': True,
 'History with Family': False,
 'History with Romance': True,
 'History with War': True,
 'History with Music': True,
 'History with Sport': True}

270

110

In [264]:
### create new dataframe for analysis

product1 = pd.DataFrame(list(dic.items()), columns=['Genre', 'Df_Revenue'])
product2 = pd.DataFrame(list(dic2.items()), columns=['Genre', 'Df_Rating'])
product3 = pd.DataFrame(list(dic3.items()), columns=['Genre', 'Df_Metascore'])

product1[['Genre_1', 'Genre_2']] = product1['Genre'].str.split(' with ', expand=True)

product2[['Genre_1', 'Genre_2']] = product2['Genre'].str.split(' with ', expand=True)

product3[['Genre_1', 'Genre_2']] = product3['Genre'].str.split(' with ', expand=True)


product1.drop('Genre', axis='columns', inplace=True)
product2.drop('Genre', axis='columns', inplace=True)
product3.drop('Genre', axis='columns', inplace=True)

product1 = product1[['Genre_1', 'Genre_2', 'Df_Revenue']]
product2 = product2[['Genre_1', 'Genre_2', 'Df_Rating']]
product3 = product3[['Genre_1', 'Genre_2', 'Df_Metascore']]
                    
display(product1)

display(product2)

display(product3)

     Genre_1    Genre_2  Df_Revenue
0     Action  Adventure        True
1     Action     Horror        True
2     Action  Animation       False
3     Action     Comedy        True
4     Action    Mystery        True
..       ...        ...         ...
301  History     Family        True
302  History    Romance       False
303  History        War       False
304  History      Music       False
305  History      Sport       False

[306 rows x 3 columns]

     Genre_1    Genre_2  Df_Rating
0     Action  Adventure       True
1     Action     Horror       True
2     Action  Animation       True
3     Action     Comedy      False
4     Action    Mystery      False
..       ...        ...        ...
301  History     Family       True
302  History    Romance       True
303  History        War      False
304  History      Music      False
305  History      Sport      False

[306 rows x 3 columns]

     Genre_1    Genre_2  Df_Metascore
0     Action  Adventure          True
1     Action     Horror         False
2     Action  Animation          True
3     Action     Comedy         False
4     Action    Mystery         False
..       ...        ...           ...
301  History     Family         False
302  History    Romance          True
303  History        War          True
304  History      Music          True
305  History      Sport          True

[306 rows x 3 columns]

In [221]:
#product2.drop('Genre_1', axis='columns', inplace=True)
#product2.drop('Genre_2', axis='columns', inplace=True)

In [265]:
product_ = pd.merge(product1, product2 ,how= 'inner')

product_

     Genre_1    Genre_2  Df_Revenue  Df_Rating
0     Action  Adventure        True       True
1     Action     Horror        True       True
2     Action  Animation       False       True
3     Action     Comedy        True      False
4     Action    Mystery        True      False
..       ...        ...         ...        ...
301  History     Family        True       True
302  History    Romance       False       True
303  History        War       False      False
304  History      Music       False      False
305  History      Sport       False      False

[306 rows x 4 columns]

In [266]:
product = pd.merge(product_, product3 ,how= 'inner')

product

     Genre_1    Genre_2  Df_Revenue  Df_Rating  Df_Metascore
0     Action  Adventure        True       True          True
1     Action     Horror        True       True         False
2     Action  Animation       False       True          True
3     Action     Comedy        True      False         False
4     Action    Mystery        True      False         False
..       ...        ...         ...        ...           ...
301  History     Family        True       True         False
302  History    Romance       False       True          True
303  History        War       False      False          True
304  History      Music       False      False          True
305  History      Sport       False      False          True

[306 rows x 5 columns]

In [267]:
### creating new columns for mean

result = []


for i in product['Genre_1']:
    means = verticalized2[verticalized2['Genre'] == i]['Revenue (Millions)'].mean()
    result.append(means)

    
product['G1_Revenue'] = result

result2 = []

for i in product['Genre_2']:
    means2 = verticalized2[verticalized2['Genre'] == i]['Revenue (Millions)'].mean()
    result2.append(means2)
    
product['G2_Revenue'] = result2

In [268]:
result = []


for i in product['Genre_1']:
    means = verticalized2[verticalized2['Genre'] == i]['Rating'].mean()
    result.append(means)

    
product['G1_Rating'] = result

result2 = []

for i in product['Genre_2']:
    means2 = verticalized2[verticalized2['Genre'] == i]['Rating'].mean()
    result2.append(means2)
    
product['G2_Rating'] = result2

In [269]:
result = []


for i in product['Genre_1']:
    means = verticalized2[verticalized2['Genre'] == i]['Metascore'].mean()
    result.append(means)

    
product['G1_Metascore'] = result

result2 = []

for i in product['Genre_2']:
    means2 = verticalized2[verticalized2['Genre'] == i]['Metascore'].mean()
    result2.append(means2)
    
product['G2_Metascore'] = result2   

 

product

,Genre_1,Genre_2,Df_Revenue,Df_Rating,Df_Metascore,G1_Revenue,G2_Revenue,G1_Rating,G2_Rating,G1_Metascore,G2_Metascore
0,Action,Adventure,True,True,True,142.158406,188.915714,6.784058,7.051786,56.014493,61.803571
1,Action,Horror,True,True,False,142.158406,48.923889,6.784058,6.288889,56.014493,57.444444
2,Action,Animation,False,True,True,142.158406,172.068000,6.784058,7.710000,56.014493,76.900000
3,Action,Comedy,True,False,False,142.158406,72.888542,6.784058,6.772917,56.014493,58.562500
4,Action,Mystery,True,False,False,142.158406,81.683571,6.784058,6.864286,56.014493,55.642857
...,...,...,...,...,...,...,...,...,...,...,...
301,History,Family,True,True,False,32.812857,135.598182,7.442857,7.000000,68.571429,63.909091
302,History,Romance,False,True,True,32.812857,38.498621,7.442857,6.772414,68.571429,54.551724
303,History,War,False,False,True,32.812857,43.756667,7.442857,7.466667,68.571429,59.000000
304,History,Music,False,False,True,32.812857,54.972500,7.442857,7.175000,68.571429,47.250000
305,History,Sport,False,False,True,32.812857,38.154000,7.442857,7.300000,68.571429,58.200000

In [270]:
product.head()

,Genre_1,Genre_2,Df_Revenue,Df_Rating,Df_Metascore,G1_Revenue,G2_Revenue,G1_Rating,G2_Rating,G1_Metascore,G2_Metascore
0,Action,Adventure,True,True,True,142.158406,188.915714,6.784058,7.051786,56.014493,61.803571
1,Action,Horror,True,True,False,142.158406,48.923889,6.784058,6.288889,56.014493,57.444444
2,Action,Animation,False,True,True,142.158406,172.068000,6.784058,7.710000,56.014493,76.900000
3,Action,Comedy,True,False,False,142.158406,72.888542,6.784058,6.772917,56.014493,58.562500
4,Action,Mystery,True,False,False,142.158406,81.683571,6.784058,6.864286,56.014493,55.642857

In [ ]:
list_of_genre =['Action', 'Adventure', 'Horror', 'Animation', 'Comedy', 'Mystery',
       'Drama', 'Sci-Fi', 'Biography', 'Crime', 'Thriller', 'Fantasy',
       'Family', 'Romance', 'War', 'Music', 'Sport', 'History']



# 
#def function():
gen1 = input('genere1:')
gen2 = input('genere2:')
interest = input('what do you wanto to compare?:')

choice = product[(product['Genre_1'] == gen1) & (product['Genre_2'] == gen2)][['Genre_1', 'Genre_2','Df_'+interest,'G1_'+ interest, 'G2_'+ interest]]

3    166.072464
dtype: float64